<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>09-v-if指令.html</title>
</head>
<body>
    <div class="app">
        <input type="button" value="切换显示" @click="toggleIsShow">
        <!-- 整个p标签从dom树中消失 -->
        <p v-if="isShow">这里是Vue框架</p>
        <!-- 改变了p标签的display样式，需要频繁切换显示的推荐使用v-show，因为操作dom树比较耗费内存 -->
        <p v-show="isShow">这里是Vue框架2</p>
        <h2 v-if="temperature>38">天太热了</h2>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:".app",
            data:{
                isShow:false,
                temperature:40
            },
            methods:{
                toggleIsShow:function(){
                    this.isShow = !this.isShow;
                }
            }
        })
    </script>
</body>
</html>