<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>19-综合案例-音乐播放器</title>
    <link rel="stylesheet" href="./19-music.css">
</head>

<body>
    <div class="wrap w">
        <!-- 播放器主体区域 -->
        <div class="play_wrap" id="player">
            <!-- 播放器检索区域 -->
            <div class="search clearfix">
                <p>悦听</p>
                <input type="text" v-model="query" @keyup.enter="searchMusic">
            </div>
            <!-- 音乐展示区域 -->
            <div class="show clearfix">
                <div class="show_list">
                    <img src="./images/line.png" alt="">
                    <ul class="song_list">
                        <li v-for="items in musicList">
                            <!-- mvid=0:表示没有mv -->
                            <a href="#" @click="playMusic(items.id)">{{items.name}}</a><span v-show="items.mvid!=0" @click="playMv(items.mvid)"></span>
                        </li>
                    </ul>
                </div>
                <div class="show_img" :class="{playing:isPlaying}">
                    <img src="./images/player_bar.png" alt="" class="player">
                    <img src="./images/disc.png" alt="" class="disc">
                    <img src="./images/line.png" alt="" class="line">
                    <!-- <img src="./images/cover.png" alt="" class="cover"> -->
                    <img :src="musicCover" alt="" class="cover"
                        onerror="this.src='./images/cover.png';this.onerror=null">
                </div>
                <div class="show_text">
                    <p>热门留言</p>
                    <ul>
                        <li v-for="items in musicComment">
                            <div class="text_img"><img :src="items.user.avatarUrl" alt=""
                                    onerror="this.src='./images/person.png';this.onerror=null"></div>
                            <div class="text_bd">
                                <h4>{{items.user.nickname}}</h4>
                                <p>{{items.content}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 进度条展示区域 -->
            <div class="audio_bg">
                <audio class="audio_bd" @play="play" @pause="pause" v-bind:src="musicUrl" controls="controls" autoplay loop></audio>
            </div>
            <!-- mv播放区域 -->
            <div class="video_con" style="display: none;" v-show="isShow">
                <video :src="mvUrl" controls="controls" id="video_mv" autoplay="autoplay"></video>
                <button @click="hidden">X</button>
            </div>
        </div>
    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 导入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./19-music.js"></script>
</body>

</html>